.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  padding: 15px;
  border-style: dashed;
  border-color: green;
  border-width: 2px;
  border-radius: 5%;
}

.grid div{
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  border-style: dashed;
  border-color: green;
  border-width: 5px;
  border-radius: 5%;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}

#score {
  color: brown;
}
